
@{
    ViewBag.Title = "NotFound";
}
<div class="py-4 my-3">
    <h1 class="alert-danger text-center">404</h1>
    <h2 class="text-center">Sorry, the page cannot be found!</h2>

    <div class="text-center">
        @Html.ActionLink("Back to List", "Index", "Apple")
    </div>
</div>
