@{
    ViewBag.Title = "Home Page";
}

    <header class="masthead home-bg" style="background-image: url('/Content/assets/img/home-bg.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-8 col-xl-7">
                    <div class="site-heading">
                        <h1><span class="grad">Apple</span> Store</h1>
                        <p class="lead text-info">Apple Store is an <span class="text-white fw-bold">apple</span> based web application using ASP.NET MVC, HTML, Bootstrap and JQuery.</p>
                        <p>They are currently @Model apples - <a class="btn btn-primary btn-lg text-white rounded-1" href="/Apple">Wanna see them?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">The Black Diamond apple (Chinese: gāla guǒ; 嘎啦果) </h2>
                    <h3 class="post-subtitle">It's a rare breed from the family of Huaniu apples that is cultivated in the Tibetan region of Nyingchi. Despite what the name suggests, the apple rather is a purple hue, with white pulp on the inside. Its unique color is due to the region's high altitude of over 3,500 m.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Wikipedia</a>
                    on September 24, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine without apples.</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Random person</a>
                    on September 18, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Nothing to do with apples</a>
                    on August 24, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">The apple does not fall far from the tree.</h2>
                    <h3 class="post-subtitle">If you want to make an apple pie from scratch, you must first create the universe.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Carl Edward Sagan</a>
                    on July 8, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
